#live {
  /*width:400px;*/
  margin:auto;
  /* border:1px solid #f00; */
  text-align:center;
}

#liveUsers { 
  font-size:84px;
}

.userMakeup {
  width:250px;
  height:20px;
  
  margin: 10px auto;
  border:1px solid #aaa;
  border-radius:4px;

}

.mobile, .desktop, .tablet {
  height:100%;
}

.mobile {
  background-color: #50b432;
  width:75%;
}

div#makeup {
    height: 100px;
    width: 300px;
    margin: auto;
}

#time {
  width:300px;
  margin:auto;
}

#time h3 {
  font-size:1.3em;
}

#time {
  font-size:0.8em;
}

#requests {
  /* height: 100px; */
  width:300px;
  margin:auto;
}

#requests #reqGraph {
  height: 250px;
  margin-top: 50px;
}

.row {
  width: 604px;
  margin:auto;
  margin-top: 40px;
}

.row .item {
  width:300px;
  display:inline-block;
}

@media screen and (max-width: 620px) {
  .row {
    width:300px;
  }
}